.App {
    text-align: center;
}

body {
    background: url("bg.jpg") no-repeat fixed;
    /*background-image:linear-gradient(to bottom, yellow, coral);*/
    background-size: cover;
    padding: 0 15px 0 15px;
}

.Welcome {
    color: whitesmoke;
}

nav {
    height: 5%;
    width: 100%;
}

nav ul {
    float: right;
    margin-right: 20px;

}

nav ul li {
    display: inline-block;
    line-height: 40px;
    margin: 0 5px;
}

nav ul li a {
    color: #ffffff;
    font-size: 26px;
    padding: 5px;
    text-decoration: none;
}

nav ul li a:hover {
    color: pink;
}

.Welcome a {
    color: whitesmoke;
    text-decoration: none;

}

.Welcome a:hover {
    background: none;
    color: pink;
    transition: .5s;
}

.Welcome .content {
    position: absolute;
    width: 30%;
    padding: 15% 0 0 15%;
    line-height: 30px;
    margin-bottom: 5%;
}

label.logo {
    color: whitesmoke;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

.Welcome .content .createAccount {
    background-color: rgba(52, 52, 52, 0.2);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 12px;
}

.Welcome .login {
    width: 30%;
    line-height: 10px;
}

.SignIn {
    color: whitesmoke;
    position: absolute;
    text-align: center;
    margin: 10% 10% 0% 60%;
    font-size: 20px;
    width: 25%;
    padding: 2%;
    line-height: 20px;
    border-radius: 5%;
    border: 1px -o-highlight-border solid;
    background-color: rgba(255, 255, 255, 0.1);
}

.SignIn a {
    color: lightpink;
    text-decoration: none;
}

.SignIn a:hover {
    color: lavenderblush;
}

button {
    background-color: rgba(222, 176, 176, 0.8);
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 5% 30% 0 30%;
    border-radius: 15px;
}
button:hover{
    cursor: pointer;
    background-color: white;
    color:rebeccapurple;
}

.SignUp {
    color: whitesmoke;
    position: absolute;
    text-align: center;
    margin: 5% 10% 0 60%;
    font-size: 20px;
    width: 30%;
    padding: 2%;
    line-height: 15px;
    border-radius: 5%;
    border: 1px -o-highlight-border solid;
    background-color: rgba(255, 255, 255, 0.1);;
}

.SignUp a {
    text-decoration: none;
    color: lightpink;
}

.SignUp a:hover {
    color: hotpink;
}


.Dashboard {
    color: whitesmoke;
}
.box{
    padding: 0 100px 0 100px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.box button{
    margin-left: 0;
}

.Products {

    display: grid;
    grid-gap: 200px;
    grid-template-columns: 5% 90%;
    color: whitesmoke;
    font-size: 20px;
    margin-bottom: 12px;
    margin-left: 10px;
    padding: 1% 3% 1% 3%;
    line-height: 10px;
    border-radius: 20px;
    border: 1px -o-highlight-border solid;
    background-color: rgba(255, 255, 255, 0.1);
}

.Products img {
    width: 170px;
}

.bookName {
    color: white;
    border-radius: 20px;
    align-items: center;
    align-content: center;
    text-align: center;
    margin-left: 7%;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
}

.bookName input {
    border-radius: 10px;
    height: 30px;
    border: 1px;
}
.Cart{
    margin: 30px 100px 10px 100px;
    margin-left: 4%;
}
.Cart button {
    margin: 10px;
}
.Cart .Chapters {
    color: whitesmoke;
    font-size: 20px;
    width: 17%;
    margin-bottom: 15px;
    padding: 1% 3% 1% 3%;
    line-height: 10px;
    border: 1px -o-highlight-border solid;
    background-color: rgba(255, 255, 255, 0.1);
}
.CartItem{
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr 1fr;
    line-height: 10px;
}
.Chapters {
    color: whitesmoke;
    font-size: 20px;
    width: 17%;
    margin-bottom: 15px;
    padding: 1% 3% 1% 3%;
    line-height: 10px;
    border-radius: 5%;
    border: 1px -o-highlight-border solid;
    background-color: rgba(255, 255, 255, 0.1);
}

.Chapters_Info {
    color: whitesmoke;
    font-size: 19px;
    width: 15%;
    margin-bottom: 15px;
    padding: 1% 3% 1% 3%;
    line-height: 10px;
    border-radius: 5%;
    border: 1px -o-highlight-border solid;
    background-color: rgba(255, 255, 255, 0.1);
}
.bookUploadEnter{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    column-gap: 10px;
}
.bookUploadEnter button{
    width: 300px;
    margin: 10px;
    border-radius: 20px;
}

.bookUpload {
    color: whitesmoke;
    position: absolute;
    margin: 7% ;
    font-size: 20px;
    width: fit-content;
    padding: 2%;
    line-height: 20px;
    border-radius: 5%;
    border: 1px -o-highlight-border solid;
    background-color: rgba(255, 255, 255, 0.1);

}

.BookDetails_Info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: whitesmoke;
    width: fit-content;
    margin-bottom: 15px;
    padding: 1% 3% 1% 3%;
    line-height: 1.2;
    border-radius: 5%;
    border: 1px -o-highlight-border solid;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;

}
/*.BookDetailsContainer{*/
/*    padding: 0 300px 0 300px ;*/
/*}*/
.BookDetails_Info p{
}
.BookDetails_Info button{
    size: 250px;
    margin: 0 10px 0 0;
    height: 60px;
}
.bookButtons{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.chapter {
    color: whitesmoke;
    position: absolute;
    text-align: center;
    margin: 7% 35% 0% 35%;
    font-size: 20px;
    width: 25%;
    padding: 2%;
    line-height: 20px;
    border-radius: 5%;
    border: 1px -o-highlight-border solid;
    background-color: rgba(255, 255, 255, 0.1);
}


.bookUpload input {
    background-color: rgba(247, 243, 243, 0.9);
    border: none;
    color: black;
    padding: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 4%;
    width: 70%;
    border-radius: 20px;
}

.chapter input {
    background-color: rgba(247, 243, 243, 0.9);
    border: none;
    color: black;
    padding: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin-top: 3%;
    margin-bottom: 4%;
    border-radius: 20px;
}

.main input {
    background-color: rgba(247, 243, 243, 0.9);
    border: none;
    color: black;
    padding: 20px 55px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 20px;
    margin-top: 3%;
    width: 70%;
    border-radius: 20px;
}

input::placeholder {
    color: darkslategrey;
}

.addChapter {
    color: whitesmoke;
    position: absolute;
    margin: 7% 10% 0% 60%;
    font-size: 20px;
    width: 22%;
    padding: 2%;
    line-height: 20px;
    border-radius: 5%;
    border: 1px -o-highlight-border solid;
    background-color: rgba(255, 255, 255, 0.1);
}

select {
    background-color: rgba(52, 52, 52, 0.2);
    border: none;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin-top: 2%;
    border-radius: 15px;
}

.bookUpload label{
  text-align: center;
  padding-bottom: 10px;
  margin-top: 3%;
}

.UserProfile {
    padding: 0 300px 0 300px;
    color: white;
}

.UserProfile .data {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 20px;
    display: grid;
    grid-template-columns: 150px 250px;
    color: white;
    grid-column-gap: 20px;
    grid-row-gap: 2px;
    margin-bottom: 10px;
}
.UserOrdersContainer{
    background-color: rgba(255, 255, 255, 0.3);
}
.UserOrders{
    padding: 5px 20px 5px 20px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 700px;
    color: white;
    grid-column-gap: 20px;
    line-height: 15px;
}
.PublisherUploads{
    padding: 5px 20px 5px 20px;
    display: grid;
    grid-template-columns: 150px 150px 250px 150px 150px 150px;
    color: white;
    grid-column-gap: 30px;
    line-height: 15px;
}
.about{
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    padding: 50px 100px 50px 100px;
    margin: 200px 400px 50px 400px;
    box-shadow: #a47b77;
    position: absolute;
}
.UserOrders button{
    margin: 0 30% 0 30%;

}
